<%- model_class = Rating -%>
<div class="row">
  <div class="col-md-6">
    <div class="page-header">
      <h1>Lernen</h1>
    </div>

    <div id="question"></div>

    <dl class="question-info">
      <dt>Fragen verbleibend</dt>
      <dd><%= [ current_user.learnables.not_yet_rated.count + questions_left_for_today - 1, 0 ].max %></dd>
      <dt>Mit Bewertung &lt; 4</dt>
      <dd><%= [ questions_left_with_bad_rating - 1, 0 ].max %></dd>
    </dl>
  </div>
</div>

<script>
  $(document).ready(function() {
    var csrfTokenNode = document.head.querySelector('meta[name="csrf-token"]');
    var csrfToken =
      (csrfTokenNode === null || (typeof csrfTokenNode.content !== "string"))
        ? null
        : csrfTokenNode.content;

    Elm.Question.embed(
      document.getElementById("question"),
      { "csrfToken": csrfToken,
        "questions": <%= @learnables_serializer.to_json.html_safe %>
      })
  });
</script>
