// Place all the styles related to the Phrases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.solution {
  margin-top: $line-height-computed * 1.25;
  padding-top: $line-height-computed * 0.75;
  padding-bottom: $line-height-computed * 0.5;
  font-size: $font-size-base * 1.5;
  line-height: $line-height-computed * 1.5;
  border-top: 1px solid #EEE;

  animation: 0.4s ease-in 0s fade-in;
}

@keyframes fade-in {
  from { opacity: 0 } to { opacity: 1 }
}

.rating {
  margin-top: $line-height-computed * 1.25;
}

.question-info {
  margin-top: $line-height-computed * 1.5;
  padding-top: $line-height-computed * 0.75;
  border-top: 1px solid #EEE;
}

.rate-link {
  margin-top: $line-height-computed * 0;
}
